<a href="https://colab.research.google.com/github/EJ1210/PYTH_Homework_Submissions/blob/master/hw0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

my_var = "Hi"



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
Fav_Num = 3 
print(Fav_Num)


# Create another variable that represents your favorite color, and do the same steps as above.
Fav_Color = "Blue"
print(Fav_Color)

3
Blue



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.
my_fav_song="""
Stop,
Drop,
Shut'em down open up shop
"""
# DMX
print(my_fav_song)

Stop,
Drop,
Shut'em down open up shop



## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

float_five = float(five)
print(float_five)
float_zero = float(zero)
print(float_zero)
float_neg_8 = float(neg_8)
print(float_zero)
float_neg_22 = float(neg_22)
print(float_neg_22)

5.0
0.0
0.0
-22.0



### P2.PY

In [2]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

str_five = str(five)
str_zero = str(zero)
str_neg_8 = str(neg_8)
str_T = str(T)
str_F = str(F)
print(str_five,str_zero,str_neg_8,str_T,str_F)

5 0 -8 True False



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

b_one = bool (one)
b_zero = bool (zero)

print (bool(one))
print (bool(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
float_one = float(b_one)
float_zero = float(b_zero)
print(float_one)
print(float_zero)

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
bool_one = bool(float_one)
bool_zero = bool(float_zero)
print(bool_one)
print(bool_zero)

# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
int_one = int(bool_one)
int_zero = int (bool_zero)
print(int_one)
print(int_zero)

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
bool_ten = bool(ten)
print(bool_ten)

True
False
1.0
0.0
True
False
1
0
True



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

b_one = bool(one)
b_zero = bool(zero)
b_true = bool(bool_true)
b_false = bool (bool_false)
print(b_one)
print(b_zero)
print(b_true)
print(b_false)

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

i_one = int(b_one)
i_zero = int(b_zero)
i_true = int(b_true)
i_false = int(b_false)
print(i_one)
print(i_zero)
print(i_true)
print(i_false)

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

b2_true = bool(i_true)
b2_false = bool(i_false)
print(b2_true)
print(b2_false)

True
False
True
False
1
0
1
0



## OPERATORS

### P1.PY

In [0]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
orig_var += 50

# Subtract 90
orig_var -= 90

# Multiply 10
orig_var *= 100

# Divide 150
orig_var /= 150

# Modulus 3
orig_var %= 3

print(orig_var)

1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

one = "Hey Guys"
two = "my name is EJ"

print(one + ", and " + two)

Hey Guys, and My name is EJ



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2
print (a+b)


# B)
c = '0'
d = '2'
print (c+d)


# C)
e = "0"
f = 2

print (e+f)

2



### P4.PY

In [3]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a+b)


# B)
c = False
d = False

print(c+d)


# C)
e = True
f = False

print (e+f)

2
0
1